[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
gunicorn = "*"
waitress = "*"
dj-database-url = "*"
django-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
