{% extends "base.html" %}

{% block content %}
<ul class="list-group">
    <h3>Expense List</h3>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
    <li class="list-group-item">Bought Beer..</li>
</ul>

{% endblock %}